<div class="row">
<h1>greenwich</h1>
<h1>{{fwg}}</h1>
<h1>{{pass}}</h1>
<h1>{{grade}}</h1>
<ul>
    {{#each sport}}
    <li>{{this}}</li>
    {{/each}}
    {{#each contry}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<button class ="btn btn primary" onclick="return alert('welcom')">Click</button>
<button class ="btn btn primary" onclick="return confirm('Are you confirm this?')">Confirm</button>
</div>